<h1>User Stories</h1>

<div class="filtering">
  <Tags @name="Priority"
    @tags={{ priorities }}
    @action={{ choosePriority }} />

  <Tags @name="Roles"
    @tags={{ roles }}
    @action={{ chooseRole }} />

  <Tags @name="Tags"
    @tags={{ tags }}
    @action={{ chooseTag }} />
</div>

{{#each userStories key="@index" as |story|}}
  <Story @story={{ story }}
    @onTagClick={{ chooseTag }}
    @onRoleClick={{ chooseRole }}
    @onPriorityClick={{ choosePriority }} />
{{/each}}
